#box-timeline{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.title-history{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 90%;
}

.title-history > h2 {
    font-size: 18;
    font-weight: 600;
}

.container-timeline{
    width: 90%;
    display: flex;
    /* height: 1705px; */
}

#subtitle-history{
    font-size: 12px;
    font-weight: 300;
}



/* Container icons */

.timeline{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 1705px;
    justify-content: space-around;
}

.container-cards{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 1705px;
    justify-content: space-around;
}


.icons{
    display: flex;
    flex-direction: column;
    width: 70px;
    justify-content: center;
    align-items: center;
}

#first::before{
    content: '';
    box-sizing: border-box;
    height: 0px;
    width: 98px;
    transform: rotate(90deg);
    border-top: 6px dashed var(--border-color);
    position: absolute;
    bottom: 94.6%;
}
#icon-2::before{
    content: '';
    box-sizing: border-box;
    height: 0px;
    width: 275px;
    transform: rotate(90deg);
    border-top: 6px solid var(--border-color);
    position: absolute;
    bottom: 79.7%;
}
#icon-3::before{
    content: '';
    box-sizing: border-box;
    height: 0px;
    width: 275px;
    transform: rotate(90deg);
    border-top: 6px solid var(--border-color);
    position: absolute;
    bottom: 59.7%;
}
#icon-4::before{
    content: '';
    box-sizing: border-box;
    height: 0px;
    width: 275px;
    transform: rotate(90deg);
    border-top: 6px solid var(--border-color);
    position: absolute;
    bottom: 39.7%;
}
#icon-4::after{
    content: '';
    box-sizing: border-box;
    height: 0px;
    width: 275px;
    transform: rotate(90deg);
    border-top: 6px solid var(--border-color);
    position: absolute;
    bottom: 19.7%;
}
#last::after{
    content: '';
    box-sizing: border-box;
    height: 0px;
    width: 98px;
    transform: rotate(90deg);
    border-top: 6px dashed var(--border-color);
    position: absolute;
    bottom: 5%;
}

.icons > img{
    width: 30px;
    height: 30px;
}

.icons > span{
    font-size: 10px;
}

.status{
    color: var(--status-color);
}



/* Container cards */

.cards{
    min-width: 248px;
    width: 95%;
    height: auto;
    padding-bottom: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    background-color: var(--bg-color);
    justify-content: start;
    align-items: center;
}

/* pontilhados ao lado dos cards */

#card-1::before{
    content: '';
    box-sizing: border-box;
    height: 0px;
    width: 15px;
    border-top: 3px dashed var(--border-color);
    position: absolute;
    bottom: 90.8%;
    right: 101%;
}
#card-2::before{
    content: '';
    box-sizing: border-box;
    height: 0px;
    width: 15px;
    border-top: 3px dashed var(--border-color);
    position: absolute;
    bottom: 70.8%;
    right: 101%;
}
#card-3::before{
    content: '';
    box-sizing: border-box;
    height: 0px;
    width: 15px;
    border-top: 3px dashed var(--border-color);
    position: absolute;
    bottom: 50.8%;
    right: 101%;
}
#card-4::before{
    content: '';
    box-sizing: border-box;
    height: 0px;
    width: 15px;
    border-top: 3px dashed var(--border-color);
    position: absolute;
    bottom: 30.8%;
    right: 101%;
}
#card-5::before{
    content: '';
    box-sizing: border-box;
    height: 0px;
    width: 15px;
    border-top: 3px dashed var(--border-color);
    position: absolute;
    bottom: 10.8%;
    right: 101%;
}


/* Redimensionamento das imagens */

#img-1{
    width: 200px;
    height: auto;
}
#img-2{
    width: 131px;
    height: auto;
}
#img-3{
    width: 110px;
    height: auto;
}
#img-4{
    width: 129px;
    height: auto;
}
#img-5{
    width: 150px;
    height: auto;
}