:root{
    --bg-color: #EEF6EE;
    --border-color: #E2E8F0;
    --status-color: #22C55E;
    font-family: "Inter";
}

.background{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}

body{
    background-color: var(--bg-color);
}

.main{
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.box{
    width: 90%;
    background-color: white;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    box-shadow: 0px 1px 2px 0px hsla(0, 0%, 0%, 0.226);
}